@import "../../scss/_variables";

.selectchat__container {
  width: 100%;
  height: 100%;
  display: flex;
}



.temporary {
  position: relative;
  top: 0;
  width: calc(100% - 310px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: $font-secondary;
}



