@import "../../../scss/_variables";

.login__info {
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: $font-secondary;
}

.login__container {
  border-bottom: $blue 1px solid;
  margin-bottom: 32px;
}

.login__containerLast {
   margin-bottom: 169px;
 }

.login__input {
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: $font-primary;
  height: 7px;
  transition: .3s;
}

.login__input:focus, .login__input:valid  {
  margin-top: 8px;
  height: auto;
}