@import "../../scss/_variables";


.arrow {
  width: 28px;
  height: 28px;
  border-radius: 100%;
  cursor: pointer;
  background: $blue url("../../static/icons/arrow.svg") no-repeat 50% 50%;
  rotate: 180deg;
}

