@import "../../scss/_variables";


.profile__box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: $border-col 1px solid;
}

.profile__action__header {
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: $blue;
  margin-bottom: 10px;
  cursor: pointer;
}

.profile__action__exit {
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: $red;
  margin-bottom: 10px;
}
