<div class="{{styles.profile__box}}">
    <p class="
    {{styles.profile__action__header}}
        {{#if isExit}}
        {{styles.profile__action__exit}}
        {{/if}}
    ">
        {{title}}
    </p>
</div>

