@import "../../../scss/_variables";

.welcome__footer__btn {
  background-color: $blue;
  border-radius: 8px;
  width: 100%;
  height: 37px;
  color: $background;
  cursor: pointer;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  margin-bottom: 14px;
}

.footer__link {
  width: 100%;
  display: inherit;
  text-align: center;
  color: $blue;
  cursor: pointer;
  font-size: 11px;
  line-height: 11px;
}


