@import "../../scss/_variables";


.user__item {
  position: relative;
  width: 100%;
  height: 50px;
  margin-bottom: $second-bg;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-bottom: $input-bg 1px solid;
  transition: .3s;
}

.avatar__container {
  left: 20px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: $second-bg;
  position: absolute;
}

.button {
  height: 100%;
  width: 100%;
  background-color: $background;
  color: $font-primary;
  text-align: center;
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
  line-height: 13px;
}

.user__item:hover {
  opacity: 50%;
}



