$background: #ffff;
$blue: #3369f3;
$red: #ff2f2f;
$font-primary: #1e1e1e;
$font-secondary: #999;
$input-bg: #EFEFEF;
$border-col: #EAEAEA;
$second-bg: #FBFBFB;
$sent--from: #F8F8F8;
$sent--to: #E4EDFD;
