@import "../../../../../sprint_1/src/scss/_variables";

.signup__container {
  width: 100%;
  margin-bottom: 16px;
  border-bottom: $blue 1px solid;
}

.signIn__info {
  color: $font-secondary;
  font-weight: 500;
  font-size: 13px;
  line-height: 9px;
  margin-bottom: 8px;
}

.signIn__input {
  margin-bottom: 7px;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: $font-primary;
}

.signIn__last {
  margin-bottom: 47px;
}